<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <title> Document</title>
    <link rel="stylesheet" href="Style-Project.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
</head>

<body>
    <div>
        <!-- Use for the background -->
        <!-- Name of the adoptions service and a logo/picture, click on the picture should get us to the home page  -->
        <%- include('partials/header.ejs'); %>
        <div class="container1"> <!-- Container  -->
            <nav>
                <ul>
                    <li><a href="/">Home Page</a></li>
                    <li><a href="Browse_Available_Pets">Browse Available Pets</a></li>
                    <li><a href="Find_dogcat">Find a dog/cat</a></li>
                    <li><a href=Dog_Care>Dog Care</a></li>
                    <li><a href="Cat_Care">Cat Care</a></li>
                    <li><a href="Have_pet_give_away">Have a pet to give away</a></li>
                    <li><a href="createAccount">Create an account</a></li>
                    <li><a href="Contactus">Contact us</a></li>  
                </ul>
            </nav>
        
            <div class=central> 
                <!-- Content Area  -->
                <!-- The Home page which should be a welcome page and have a brief description of what the site is
                about. Include enough content and decorated as you wish, to demonstrate your HTML5 and CSS
                prowess -->
                <h2> How to take care your cat ? </h2>
                <ol>
                    <li> Provide a Balanced Diet
                        <ul>
                            <li>High-quality cat food: Choose a balanced diet appropriate for your cat’s age, health, and activity level.</li>
                            <li>Consistent feeding times: Feed your cat at regular intervals each day.</li>
                            <li>Clean water: Ensure fresh water is always available for your cat.</li>
                        </ul>
                    </li>
                    
                    <li>Ensure Regular Exercise
                        <ul>
                            <li>Engaging toys: Provide toys like feather wands, balls, or laser pointers to keep your cat active.</li>
                            <li>Climbing and scratching posts: Offer cat trees, shelves, and scratching posts for climbing and scratching.</li>
                        </ul>
                    </li>
                    
                    <li>Maintain Grooming
                        <ul>
                            <li>Regular brushing: Brush your cat regularly to maintain a healthy coat and reduce shedding.</li>
                            <li>Occasional baths: Bathe your cat only when necessary with cat-friendly shampoo.</li>
                            <li>Trim nails: Regularly trim your cat’s nails to prevent overgrowth and damage to furniture.</li>
                        </ul>
                    </li>
                </ol>
            </div>

            
        </div>
        <%- include('partials/footer.ejs'); %>
    </div>
    <script src="index.js"></script>

</body>
</html>

<!--Check Done -->