<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <title> Document</title>
    <link rel="stylesheet" href="/Style-Project.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
</head>

<body>
    <div>
        <!-- Include the header template  -->
        <%- include('partials/header.ejs'); %>
         
        
       
        <div class="container1"> <!-- Container  -->
            <nav>
                <ul>
                    <li><a href="/">Home Page</a></li>
                    <li><a href="Browse_Available_Pets">Browse Available Pets</a></li>
                    <li><a href="Find_dogcat">Find a dog/cat</a></li>
                    <li><a href=Dog_Care>Dog Care</a></li>
                    <li><a href="Cat_Care">Cat Care</a></li>
                    <li><a href="Have_pet_give_away">Have a pet to give away</a></li>
                    <li><a href="createAccount">Create an account</a></li>
                    <li><a href="Contactus">Contact us</a></li>  
                </ul>
            </nav>
        
            <div class=central> 
                <!-- Content Area  -->
                <!-- The Home page which should be a welcome page and have a brief description of what the site is
                about. Include enough content and decorated as you wish, to demonstrate your HTML5 and CSS
                prowess -->
                <h2> Welcome to Paws & Whiskers Adoption! </h2>
                <p>We're thrilled to have you here. Whether you're a dog lover, a cat enthusiast, or simply looking for a furry friend to complete your family, you've come to the right place. Our mission is to connect loving pets with loving homes, ensuring every animal gets the second chance they deserve.<br><br>

                Browse through our selection of adorable dogs and cats, read their stories, and find your perfect match today. Additionally, if you need to find a new home for your pet, we're here to help you give them the loving future they deserve.<br>
                    
                Together, we can make a difference, one paw at a time. Thank you for choosing adoption and supporting our mission!</p>
            </div>
        </div>
    </div>
    <%- include('partials/footer.ejs'); %>
    <script src="index.js"></script>

</body>


</html>

<!--Veryfication html done -->