<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <title> Document</title>
    <link rel="stylesheet" href="Style-Project.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
</head>

<body>
    <div>
        <!-- Use for the background -->
        <!-- Name of the adoptions service and a logo/picture, click on the picture should get us to the home page  -->
        <%- include('partials/header.ejs'); %>
        <div class="container1"> <!-- Container  -->
            <nav>
                <ul>
                    <li><a href="/">Home Page</a></li>
                    <li><a href="Browse_Available_Pets">Browse Available Pets</a></li>
                    <li><a href="Find_dogcat">Find a dog/cat</a></li>
                    <li><a href=Dog_Care>Dog Care</a></li>
                    <li><a href="Cat_Care">Cat Care</a></li>
                    <li><a href="Have_pet_give_away">Have a pet to give away</a></li>
                    <li><a href="createAccount">Create an account</a></li>
                    <li><a href="Contactus">Contact us</a></li> 
                </ul>
            </nav>
        
            <div class=central> 
                <!-- Content Area  -->
                <!-- The Home page which should be a welcome page and have a brief description of what the site is
                about. Include enough content and decorated as you wish, to demonstrate your HTML5 and CSS
                prowess -->
                <h2> Privacy/Disclamer Statement </h2>
                <p>Your privacy is important to us. We are committed to safeguarding your personal information and ensuring it is not sold or misused. Any information you provide will only be used to enhance your experience and deliver our services effectively. We will not share your information with third parties without your explicit consent, except as required by law.<br><br>

                Please note that while we strive to ensure the accuracy of the information posted on our site, we cannot be held responsible for any incorrect or misleading content provided by users. We encourage you to verify all information independently and contact us if you have any concerns.
                    
                By using our website, you agree to these terms and our commitment to your privacy.</p>
            </div>
        </div>
    </div>
    <%- include('partials/footer.ejs'); %>
    <script src="index.js"></script>

</body>


</html>

<!--Check done -->